
<script type="text/javascript">
  function connect() {
    var uri = 'ws://localhost:51364/api/blackjack';
    websocket = new WebSocket(uri);

    websocket.onopen = function () {
      alert('Connected');
    };

    websocket.onerror = function (event) {
      alert('Error :(');
    }

    websocket.onmessage = function (event) {
      var messageDiv = document.getElementById('message-response');

      messageDiv.insertAdjacentHTML('afterbegin', '<div>' + event.data + '</div');
    }
  }

  function send() {
    websocket.send("some data");
  }
</script>

<input type="button" value="Connect" onclick="connect()"/>

<div id="message-response"></div>