body {
    font-family:Helvetica, Arial, sans-serif
}

.clear-fix {
    clear: both;
}

.hand-container {
  font-size: 18pt;
  position: relative;
  height: 5em;
}

.turn-buttons {
    clear: both;
}

.card {
  float: left;
  width:  3.75em;
  height: 5.00em;
  margin: 0 1.2em 1.2em 0;
}

.red {
  color: red;
}